
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/auth-layout}">
<head>
 <title th:text="#{login.title}">Sign-In</title>
</head>
<body>
<div layout:fragment="auth-content">
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
      
        <div class="container">
          <div class="row">
          
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="btn-group w-50 mx-4">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				    <i class="fa-solid fa-language text-white"></i> Language
				  </button>
				  <ul class="dropdown-menu">
				    <li><a th:href="@{?lang=fr}" class="btn btn-primary btn-sm ms-auto w-100"><span class="fi fi-fr"></span> Fr</a></li>
				    <li><a th:href="@{?lang=en}" class="btn btn-primary btn-sm ms-auto w-100"><span class="fi fi-us"></span> En</a></li>
				  </ul>
              </div>
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder" th:text="#{login.title}">Sign In</h4>
                  <p class="mb-0" th:text="#{login.info}">Enter your username and password to sign in</p>
                </div>
                <div class="card-body">
	                <div class="alert alert-danger text-white d-none" role="alert" th:text="#{login.failed}">
					  A simple danger alert—check it out!
					</div>
                  <form role="form" th:action="@{/login}" th:object="${loginForm}" method="post">
                    <div class="mb-3">
                      <input 
                             type="text" 
                             th:field="*{identifier}" 
                             class="form-control form-control-lg" 
                             th:placeholder="#{login.userplace}" 
                             aria-label="UserName"
                             th:classappend="${#fields.hasErrors('identifier')} ? 'border-danger' : ''"
                             >
                     <!--  <div th:if="${#fields.hasErrors('identifier')}"
                             th:errors="*{identifier[0]}">
                       </div>-->
                      <div th:if="${#fields.hasErrors('identifier')}"  class="text-danger"
						     th:text="${#fields.errors('identifier')[0]}">
						</div>
                    </div>
                    <div class="mb-3">
                      <input 
                             type="password" 
                             th:field="*{password}" 
                             class="form-control form-control-lg" 
                             th:placeholder="#{login.password}" 
                             aria-label="Password"
                             th:classappend="${#fields.hasErrors('password')} ? 'border-danger' : ''"
                             >
                      <div   class="text-danger"
                             th:if="${#fields.hasErrors('password')}"
				             th:errors="*{password}">
				       </div>
                    </div>
                    <div class="form-check form-switch">
                    
                      <input class="form-check-input" 
                             name="rememberMe" 
                             type="checkbox" 
                             id="rememberMe"
                       >
                      <label class="form-check-label" for="rememberMe" th:text="#{login.rememberme}">Remember me</label>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" th:text="#{login.btnsignin}">Sign in</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                  <span th:text="#{login.titleCreate}">Don't have an account?</span>
                    
                    <a th:href="@{/register}" class="text-primary text-gradient font-weight-bold" th:text="#{login.signup}">Sign up</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg');
          background-size: cover;">
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative" th:text="#{login.headerTitle}">“Ideas are the new wealth. Start your fortune here.”</h4>
                <p class="text-white position-relative" th:text="#{login.headerShorttitle}">The slower you turn the pages, the faster your mind can travel.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </div>
</body>

</html>