
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/auth-layout}">

<head>
 <title>Sign-Up</title>
 
</head>

<body class="bg-dark">
<div layout:fragment="auth-content">
  <div class="container-fluid py-4">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0" th:text="#{signup.welcome}">Welcome</p>
                <button class="btn btn-primary btn-sm ms-auto" th:text="#{signup.sign}">Sign In</button>
              </div>
            </div>
          <form action="" method="post">
          <div class="card-body">
              <p class="text-uppercase text-sm" th:text="#{signup.title}">Create an account</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.firstname}">First name</label>
                    <input class="form-control border-danger" name="firstName" type="text" value="">
                    <small class="text-danger mt-2">this field mast be not null</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label"  th:text="#{signup.lastname}">Last name</label>
                    <input class="form-control" name="lastName" type="text" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.username}">Username</label>
                    <input class="form-control" name="username" type="text" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.phone}">Phone number</label>
                    <input class="form-control" name="phoneNumber" type="text" value="">
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.cincode}" placeholder="HR0000">CIN</label>
                    <input class="form-control" name="cin" type="text" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.dateBirth}">Date of Birth</label>
                    <input class="form-control" name="dateBirth" type="date" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.email}">Email address</label>
                    <input class="form-control"name="email" type="email" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.email}">Confirm Email address</label>
                    <input class="form-control" name="confirmEmail" type="email" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.adress}">Address</label>
                    <input class="form-control" name="adress" type="text" th:placeholder="#{signup.adress.default}" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">City</label>
                    <input class="form-control" name="city" type="text" value="" th:placeholder="#{signup.city.default}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Country</label>
                    <input class="form-control" name="country" type="text" value="" th:placeholder="#{signup.country.default}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Postal code</label>
                    <input class="form-control" name="postal" type="text" value="" th:placeholder="#{signup.postalCode.deafult}">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.cin}">Copier Cin vcto and verso</label>
                    <input class="form-control" name="cincopier" type="file" value="" >
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label" th:text="#{signup.picture}">	Picture</label>
                    <input class="form-control" name="cincopier" type="file" value=""  >
                  </div>
              </div>
              <div class="row align-content-center text-center justify-content-center mt-5">
                  <div class="col-4">
                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2" th:text="#{signup.sign}">Sign up</button>
                  </div>
                  <p class="text-sm mt-3 mb-0" th:text="#{signup.linkAccount}">Already have an account?</p><a href="/login" class="text-dark font-weight-bolder" th:text="#{signup.signin}">Sign in</a>
              </div>
              </div>
          </div>
         </form>
        </div>
        
      </div>
    </div>
    </div>
</body>

</html>